<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "semantic-ui/dist/semantic.css" %}"/>
    <title>All check-ins</title>
</head>
<body>
<h2 class="ui center aligned icon header">
  <i class="circular users icon"></i>
  All check-ins
</h2>

<i class="foursquare huge icon"></i>

<div class="ui huge divided list">
    {% for checkin in checkins %}
  <div class="item">
    <i class="map marker icon"></i>
    <div class="content">
      <a class="header">{{ checkin.first_name }} {{ checkin.last_name }}</a>
      <div class="description">{{ checkin.shout }}</div>
    </div>
  </div>
    {% endfor %}
</div>
<div class="ui button">
  Follow
</div>
</body>
</html>